.sandbox {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 300px 500px;
  background-color: gold;
  padding: 20px;
}

.sandbox > * {
  background-color: white;
  padding: 20px;
}

.heading {
  font-size: 200%;
  font-weight: bold;
  grid-column: span 1;
  grid-column: 1;
}

.content {
}

.bob {
  grid-column-start: 1;
  grid-row-start: 2;
  width: 100%;
}

.footer {
  grid-column: span 2;
}

